*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --primary_color:rgba(236, 202, 10, 1);
}
header{
    background-color:  var(--primary_color);
    position: fixed;
    z-index: 5555;
top: 0px;
left: 0px;
width: 100%;
 
}
nav{

    padding: 12px 15px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
 
    margin: 0px auto;
    align-content: center;
    position: relative;
}
nav .list ul{
    
    list-style: none;
    display:flex;
    justify-content: center;
    align-items: center;
}
nav .list ul li{
   
    margin-left: 1px;
}
nav .list ul li a{
   color: black;
   font-size: 22px;
   text-decoration: none;
   padding: 2rem;
}
nav h2 span{
    color: white;
    padding: 7px;
    border-radius: 50%;
    font-size: 33px;
    background-color: rgba(233, 233, 233, 0.281);
}
nav h2{
  
    font-size: 25px;
}
nav .list ul li:hover{
   background-color: rgba(255, 255, 255, 0.678);
  
   text-decoration: none;
 
}
.icons{
    position: absolute;
    top: .9rem;
    right: 1rem;
    width: 23px;
    height: 21px;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}
.icons .bar{

    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}
.about{
    background-image: url('../images/portfolio-left-dec.jpg');
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}
.container{
   
    padding: 25px;

}
.about{
    position: relative;
    padding: 80px;
    margin: 20px auto;
}
.addition{
margin: 0px auto;
text-align: center;
background-color: rgb(223, 235, 61);
width: auto;
display: flex;
justify-content: center;
align-items: center;
width: 400px;
height: 150px;
border-bottom-right-radius: 60px;
border-bottom-left-radius: 50px;
border-top-left-radius: 80px;
}
.addition  h6{
    font-size: 16px;
}
.second_a{
    background-color: rgb(228, 233, 153);
}
.third_a{
    background-color: rgba(70, 71, 29, 0.884);
}
.cont_add{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.information{
   
    width: 400px;
    height: 400px;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 30px auto;
 text-align: center;
 border-radius: 15px;
    background-color:  var(--primary_color);
    position: relative;
    
}

.information h3{
    margin-top: 20px;
    font-size: 25px;
    text-transform: capitalize;
}
.information h3:first-child{
    margin-top: 100px;
   
}
.information h4{
    margin-top: 20px;
    font-size: 25px;
    text-transform: capitalize;
    text-align: left;
}
.information h4 span{
    color: white;
}
#title{
    width: 80%;
    background-color: rgba(101, 105, 110, 0.986);
    padding: 15px 15px;
    position: absolute;
    top:0px;
    margin-top: -15px;
    border-radius: 2px;
}
.containerE{
width: 100%;
margin:  0px auto;
background-color: rgba(0, 0, 0, 0.801);
text-align: center;
display: flex;
justify-content: center;
align-items: center;
padding: 5px;
}
.level{
    width: 350px;
    min-width: 200px;
    max-width: 350px;
    height: 190px;
    background-color: yellow;
    margin-right: 5px;
    padding: 15px;
    border-radius: 10px;
}
.level h1{
 font-size: 25px;
}
.level h2{
    font-size: 20px;
   }
   .l2{
       margin-top: 80px;
   }
   .l3{
    margin-top: 160px;
}
.Education{
 
    padding: 10px;
    margin:50px auto;
    
   
   
}
.containerE{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.des{
    color: #ffffff;
}
.container_Ex{
    width: 80%;

    margin:25px auto;
    text-align: center;
    padding: 25px;
}
.row{
    width: 100%;
    
    margin:25px auto;
    text-align: center;
    padding: 25px;
    display: flex;
    justify-content: center;
}
.exp{
    
    min-width: 300px;
    max-width: 300px;
    height:350px;
    background-color: wheat;
    margin-right: 23px;
    margin-bottom: 25px;
   color: black;
    border-radius: 5px;
    padding:0px;
}
.exp1 img{
    width: 100%;
    height: 100%;
}
.exp1{
    position: relative;
}
.exp1 .details{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(187, 170, 75, 0.815);
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
    flex-direction: column;
    opacity: 0;
}
.exp1 .details:hover{
    opacity: 1;
}

.inner{
    background-color: rgba(0, 0, 0, 0.753);
    min-width: 100%;
    max-width:100%;
    height: 100%;
    color: wheat;
}
.skills{
    margin-top: 50px;
    background-color: rgba(250, 250, 250, 0.829);
    text-align: left;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.h{
    width: 90%;
    margin: 0px auto;
}
.h img{
    width: 350px;
    height: 350px;
    margin-top: 25px;
}
.h h4{
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 10px;
}
.containerv{
   
    margin: 25px auto;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
   
}

.progress{
   
    position: relative;
    width:80%;
    height: 15px;
 
    margin: 10px;
}
.progress span{
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   transition:  width .3s linear;
width: 90%;
   background-image: linear-gradient(rgba(236, 202, 10, 1) 90% , transparent);
}
.progress .s2{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    transition:  width .3s linear;
 width: 85%;
    background-image: linear-gradient(rgba(236, 202, 10, 1) 85% , transparent);
 }
 .progress .s3{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    transition:  width .3s linear;
 width: 87%;
    background-image: linear-gradient(rgba(236, 202, 10, 1) 87% , transparent);
 }
 .progress .s4{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    transition:  width .3s linear;
 width: 75%;
    background-image: linear-gradient(rgba(236, 202, 10, 1) 75% , transparent);
 }
 .progress .s5{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    transition:  width .3s linear;
 width: 55%;
    background-image: linear-gradient(rgba(236, 202, 10, 1) 55% , transparent);
 }
 .progress .s6{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    transition:  width .3s linear;
 width: 95%;
    background-image: linear-gradient(rgba(236, 202, 10, 1) 95% , transparent);
 }
 .progress .s7{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    transition:  width .3s linear;
 width: 80%;
    background-image: linear-gradient(rgba(236, 202, 10, 1) 80% , transparent);
 }

.contact_new{
   margin-top: 50px;
    padding: 80px;
}
.contact_new h6{
    font-size: 20px;
    text-align: center;
    margin-left: -15px;
    letter-spacing: 3px;
    font-style: italic;
    font-weight: bold;
}
.container{
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container a i{
    margin-right: 25px;
    font-size: 25px;
    color:black
}
.one{
    font-size: 20px;
    text-align: center;
    margin-left: -15px;
    letter-spacing: 0px;
   margin-top: 50px;
   margin-bottom: 10px;
    font-weight: bold;
    line-height: 25px;
}
.one span{
    font-size: 22px;
    color: var(--primary_color);
}
.title{
    margin-bottom: 70px;
text-transform: capitalize;
font-weight: bold;
}

@media(max-width:766px){
    .about{
        margin-bottom: 250px;
    }
    .cont_add{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .addition{
        margin-top: 10px;
    }
    .addition{
      
        width: 350px;
      
        }
        .addition  h6{
            font-size: 14px;
        }
        
  .tit{
      font-size: 15px;
  }
    .information h3,h4{
        font-size: 20px;
    }
    .progress{
   
   
        width:200px;
        height: 15px;}
 .h img{
     width: 250px;
     height: 250px;
     text-align: center;
 }
 .h div h4{
    font-size: 16px;
 }

 
    nav{
        flex-direction: column;
       align-items: flex-start;
       padding: 0px;
    }
   
    .icons{
         display: flex;
    }
    .list{
        width: 100%;
        display: none;
    }
    nav .list ul li{
        text-align: center;
        width: 100%;
   
    }
    nav .list ul li a{
        padding: .5rem 1rem;
    }
    nav .list ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .list.active{
        display: flex;
    }
    .information{
        width: 310px;
        margin:70px auto;
        height: 350px;
    margin-bottom: 20px;}
    .about{
        padding: 0px;
        
        width: 100%;
        height: 100vh;
       
    }
    .l2{
        margin-top:15px;
    }
    .l3{
     margin-top: 15px;
 }
 .containerE{
    width: 80%;
    margin:  0px auto;
 
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
    
    }
    .level h1{
        font-size: 20px;
       }
       .level h2{
           font-size: 15px;
          }
}
@media(min-width:767px) and (max-width:1200px){
    .cont_add{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .addition{
        margin-top: 10px;
    }
    .h img{
        width: 200px;
        height: 200px;
    }
    nav{
        flex-direction: column;
       align-items: flex-start;
       padding: 0px;
    }
   
    .icons{
         display: flex;
    }
    .list{
        width: 100%;
        display: none;
    }
    nav .list ul li{
        text-align: center;
        width: 100%;
   
    }
    nav .list ul li a{
        padding: .5rem 1rem;
    }
    nav .list ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .list.active{
        display: flex;
    }
    .l2{
        margin-top:0px;
    }
    .l3{
     margin-top: 0px;
 }
 .containerE{
    width: 100%;
    margin:  0px auto;
    
    }
    .level{
        width: 230px;
        min-width: 230px;
        max-width:230px;
        height: 190px;
        background-color: yellow;
        margin-right: 5px;
        padding: 15px;
        border-radius: 10px;
    }
    .level h1{
     font-size: 22px;
    }
    .level h2{
        font-size: 18px;
       }
       .information{
           margin-bottom: 20px;
           margin-top: 20px;
       }
       .about{
           margin-bottom: 250px;
       }
       #h2{
           margin-top: 50px;
       }
}